#Mbackground {
  background: url("../../static/mainPage/顶图.png");
  height: 180px;
  .MNavContainer {
    max-width: 1514px;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 27px;
  }
  #MtopNav {
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width:228px;
    height:127px;
    background: rgba(255,255,255,0.8);
    border-radius: 5px;
    float: left;
    hr {
    margin: 0;
    }
  }

  li{
    padding: 6px 6px;
    margin: 3px 6px;
     }
  li:hover {
    background: #73C9E5;
    border-radius: 6px;
    a {
      color: #ffffff;
    }
   }
  .Mleft {
    text-align: center;
    margin-right: 17px;
    width: 84px;
  }
  .Mright {
    width: 84px;
    text-align: center;
  }
  .MtopNavR {
    background: #F980A0;
    height: 127px;
    width: 127px;
    padding: 24px 15px 27px 15px;
    text-align: center;
    float: right;
    h3 {
      font-size: 25px;
      color: #ffffff;
      font-weight: normal;
      margin: 0;
    }
    p{
      font-size: 20px;
      color: #ffffff;
      margin: 0;
    }
    hr {
      color: #ffffff;
    }
  }
}
