* {
  padding: 0;
  margin: 0;
}

#sL {
  background: #f8e4ea;
  opacity: 0.78;
  font-weight: 400;
}

#Sign_h {
  position: absolute;
  color: #00A0E9;
  font-size: 23px;
  font-weight: 800;
  top: 18px;
  left: 142px;
  cursor: pointer;
}

#title {
  width: 180px;
  height: 52px;
  font-size: 47px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #565251;
  letter-spacing: 25px;
  margin: 0 auto;
  margin-top: 68px;
}

#S_content {
  width: 1381px;
  height: 543px;
  margin: 0 auto;
  margin-top: 69px;
}

.Sign_logo {
  width: 67px;
  height: 77px;
  background-color: #F25D8E;
  border-radius: 20px;
  border: 1px solid #bfbfbf;
}

.Sign_logo img {
  height: 28px;
  width: 28px;
  position: relative;
  left: 15px;
  top: 25px;
}

#pink_1_l:hover {
  transform: scale(1.3);
}

#pink_2_l:hover {
  transform: scale(1.3);
}

#logo_special {
  background-color: white;
  position: relative;
}

#Sign_main {
  width: 681px;
  height: 415px;
  background: #fffbfc;
  border-radius: 0 20px 20px 20px;
  position: relative;
  left: 50px;
  top: -237px;
  box-sizing: border-box;
  padding-top: 52px;
  border: 1px solid #a6a6a6;
  border-left: none;
}

#Sign_main p {
  width: 227px;
  height: 43px;
  font-size: 33px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #393434;
  margin-left: 232px;
}

#Sign_main input {
  width: 495px;
  height: 49px;
  background: white;
  border: 1px solid #a6a6a6;
  border-radius: 8px;
  margin-left: 92px;
}

#Sign_main #count {
  margin-top: 45px;
  padding-left: 23px;
  font-size: 23px;
  font-family: Microsoft YaHei;
  font-weight: 400;
}

#Sign_main #password {
  margin-top: 51px;
  margin-bottom: 49px;
  padding-left: 23px;
  font-size: 23px;
  font-family: Microsoft YaHei;
  font-weight: 400;
}

#Sign_main #rem {
  width: 16px;
  height: 16px;
  background-color: white;
  display: inline-block;
  margin-left: 92px;
  margin-right: 7px;
  border: 1px solid #521078;
  position: relative;
  top: 2px;
}

#Sign_main #what {
  font-size: 17px;
  color: #565251;
  display: inline-block;
  margin-right: 2px;
}

#Sign_main #ember {
  font-size: 13px;
  color: #00A0E9;
  display: inline-block;
  margin-right: 88px;
}

#Sign_main #forgot {
  font-size: 13px;
  color: #00A0E9;
  display: inline-block;
  margin-right: 43px;
  cursor: pointer;
}

#Sign_main #noway {
  font-size: 13px;
  color: #00A0E9;
  cursor: pointer;
}

#Sign_left {
  height: 543px;
  width: 769px;
  float: left;
}

#warn {
  position: relative;
  top: -223px;
  left: 59px;
}

#warn span {
  display: block;
  width: 196px;
  height: 18px;
  font-size: 17px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #534849;
}

#warn button {
  width: 191px;
  height: 56px;
  margin-top: 15px;
  border: 1px solid #535353;
  border-radius: 5px;
  font-size: 25px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #fcf7f7;
  margin-left: 85px;
  border: none;
  cursor: pointer;
}

#warn #sign_in {
  margin-right: 39px;
  background-color: #3DA2ED;
}

#sign_right {
  width: 602px;
  height: 480px;
  float: right;
}

#code {
  width: 275px;
  height: 235px;
  margin: 0 auto;
  margin-top: 44px;
  padding-left: 68px;
}

#Sign_p1 {
  width: 570px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.Sign_up {
  font-size: 20px;
  color: #120105;
}

#Sign_words {
  width: 207px;
  height: 105px;
  text-align: center;
  position: relative;
  top: 41px;
}

#Sign_middle {
  font-size: 25px;
  color: #120105;
}
