#person_pic {
  width: 810px;
  height: 177px;
  display: flex;
  justify-content: space-between;
}

.person_img {
  width: 160px;
  height: 200px;
  font-size: 10px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #020c11;
}

.person_img p {
  margin: 0;
}
