#nav_C_box {
  margin: 0 auto;
  margin-top: 79px;
  width: 1154px;
  height: 950px;
  position: relative;
}

#nav_top_left {
  width: 182px;
  height: 23px;
  font-size: 18px;
  font-family: Adobe Heiti Std;
  font-weight: normal;
  color: #373737;
  position: relative;
  top: 65px;
  left: 288px;
}

#nav_top_right {
  width: 109px;
  height: 42px;
  font-size: 18px;
  font-family: Adobe Heiti Std;
  font-weight: normal;
  color: #373737;
  float: right;
  text-align: center;
}

#nav_top_right span {
  color: #FB6970;
  cursor: pointer;
}

.nav_Con {
  width: 771px;
  height: 160px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 61px;
}

.nav_bottom {
  margin-top: 3px;
  width: 55px;
  height: 40px;
  font-size: 14px;
  font-family: Adobe Heiti Std;
  font-weight: normal;
  color: #1d1d1d;
}

#nav_all {
  position: absolute;
  right: 91px;
  top: 120px;
}

#last {
  margin-bottom: 0;
}

#nav_bottom_right {
  width: 1100px;
  height: 40px;
  font-size: 20px;
  font-family: Adobe Heiti Std;
  font-weight: normal;
  color: #a0a0a0;
  line-height: 40px;
  margin: 0 auto;
  cursor: pointer;
}

#nav_bottom_right div {
  float: right;
}

#nav_bottom_right img {
  margin-left: 15px;
  vertical-align: middle;
  cursor: pointer;
}

.nav_picture {
  cursor: pointer;
}

#back {
  width: 76px;
  height: 76px;
  position: fixed;
  top: 50%;
  left: 0;
  background-color: #eeeef4;
  cursor: pointer;
}

#back div {
  width: 49px;
  height: 49px;
  font-size: 20px;
  font-family: PingFang SC;
  font-weight: bold;
  color: #807f7f;
  line-height: 26px;
  letter-spacing: 4px;
  margin: auto auto;
  padding-top: 12px;
  box-sizing: border-box;
}
