#sB {
  width: 1264px;
  height: 275px;
  margin: 0 auto;
  margin-top: 62px;
}

input {
  width: 1032px;
  height: 61px;
  border: none;
  display: inline-block;
}

#Lcon {
  margin-top: 34px;
}

#sBox {
  margin-left: 70px;
  margin-top: 34px;
  position: relative;
  width: 1122px;
  background-color: #fddae3;
  border: 1px solid #bbbaba;
}

#sBox img {
  display: inline-block;
  position: absolute;
  top: 8px;
  right: 24px;
}

#sbL {
  text-align: center;
}

.sbC {
  width: 70px;
  font-size: 30px;
  font-family: Adobe Heiti Std;
  font-weight: normal;
  color: #232222;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

.sbC:hover {
  color: #73c9e5;
}

#Lcon {
  display: flex;
  width: 1264px;
  justify-content: space-between;
}

#First {
  background: #fddae3;
}

#First:hover {
  color: #73c9e5;
}
