#SnLe {
  width: 216px;
  height: 480px;
  padding-top: 79px;
  box-sizing: border-box;
}

.S_title {
  width: 112px;
  height: 25px;
  font-size: 21px;
  line-height: 25px;
  font-weight: normal;
  color: #232222;
  text-align: center;
  background-color: #fddae3;
}

#nav_c1 {
  width: 134px;
  font-size: 14px;
  margin-bottom: 120px;
  margin-top: 6px;
  line-height: 26px;
}

#nav_c1 a {
  width: 67px;
}

#nav_c1 .nav_con1 {
  margin-left: 20px;
  cursor: pointer;
}

#nav_c1 .nav_con1:hover {
  color: #73c9e5;
}

#nav_c2 {
  width: 164px;
  font-size: 14px;
  margin-bottom: 80px;
  margin-top: 6px;
  line-height: 26px;
}

#nav_c2 a {
  width: 71px;
}

#nav_c2 .nav_con2 {
  margin-left: 20px;
  cursor: pointer;
}

#nav_c2 .nav_con2:hover {
  color: #73c9e5;
}

#nav_c3 {
  width: 216px;
}

.nav_co3 {
  width: 54px;
  display: inline-block;
  cursor: pointer;
}

.nav_co3:hover {
  color: #73c9e5;
}

#nav_con3 {
  margin-top: 6px;
}

.nav_co1 {
  cursor: pointer;
}

.nav_co1:hover {
  color: #73c9e5;
}

.nav_co2 {
  cursor: pointer;
}

.nav_co2:hover {
  color: #73c9e5;
}
