#footerContainer {
  background: #F6F9FA;
  position: relative;
  bottom: 0;
  height: 459px;
  overflow: hidden;
  #footerPosition {
    display: flex;
    max-width: 1454px;
    margin: 0 auto;
  }
  .col {
    flex-direction: column;
  }
  .col1 h3 {
    font-size: 30px;

    font-family: DengXian, serif;
  }
  .col2 {
    margin-left: 57px;
    margin-right: 99px;
  }
  .col4 {
    margin-left: 271px;
  }
  .list{
    line-height: 46px;
  }
  #list1 {
    padding-right: 76px;
    border-right: 1px solid #E5E5E5;
  }
  #list3 {
    margin-top: 110px;
  }
  .footerH3 {
    margin-top: 47px;
    margin-bottom: 36px;
    font-size: 25px;
    font-family: DengXian, serif;
    font-weight: normal;
    color: #909090;
  }
  .mediaLogo {
    margin-left: 168px;
  }
  .footerLogo {
    width: 83px;
    height: 83px;
    margin-right: 30px;
  }
}