.myData {
  background: #FFFFFF;
  padding: 30px 50px;
  margin-top: 14px;
  th {
    font-size: 18px;
    color: #423b3b;
    font-weight: normal;
    width: 25%;
    text-align: center;
  }
  td {
    text-align: center;
  }
}