*{
    padding: 0;
    margin: 0;
}
.Vi_nav1{
    cursor: pointer;
}

#vN{
    width: 100%;
    height: 180px;
    background-image: url(./top.png);
    background-size: cover;
    }
#vH{
    height:65px;
    background:rgba(248,228,234,1);
    opacity:0.78;
    

}
#twe{
    width: 600px;
    display:flex;
    justify-content: space-between;
    #V_Nav_left{
        display: flex;
        width: 454px;
        height: 20px;
        justify-content: space-between;
        font-size:16px;
        font-family:Adobe Heiti Std;
        font-weight:normal;
        color:rgba(11,1,1,1);
        margin-top: 18px;
    }
    img{
        width: 113px;
        height: 39px;
        
        margin-top: 8px;
    }
}

#tired{
    width: 1111px;
    display: flex;
    justify-content: space-between;
    margin:0 auto;
    padding-right: 73px;
}

#V_nav_right{
    margin-top: 18px;
    width: 301px;
    height:28px;
    font-size:18px;
     font-family:PingFang SC;
     font-weight:bold;
    color:rgba(99,100,101,1);
    position: relative;
    
    img{
        width: 30px;
        height: 31px;
        position: absolute;
        right: 55px;
        
    }
    .Vi_nav2{
               display: inline-block;
                margin-right: 27px;
                cursor: pointer;
            }

            #Vi_nav_special{
                margin-left: 27px;
                 }
}





#V_u{
    height: 72px;
    background-image: linear-gradient(to right,#c4c7d7,#f7d3ce);
    position: relative;
    
    input{
        margin-left: 350px;
        width: 490px;
        height: 42px;
        margin-top: 15px;
        background-color: #f1f2f7;
        padding-right: 50px;
        
    }
    img{
        width: 28px;
        height: 29px;
        position: absolute;
        bottom:21px;
        left: 800px;
        cursor: pointer;
    }
}
#content_user{
    background-color: #eeeef4;
    padding-top: 30px;
    
    #V_heart{
        width: 23px;
        height: 21px;
    }
    width: 1055px;
    height: 176px;
    display: flex;
    justify-content: space-between;
}

.V_point{
    width: 95px;
    height: 95px;
}

#content_top_under{

    #V_10{
        width: 36px;
        height: 37px;
        margin-top: 12px;
        cursor: pointer;
    }
    #meanu{
        position: relative;
        #V_11{
            width: 15px;
            height: 14px;
            margin-top: 21px;
         
        }
 
    }
}
#meanu:hover{
    #menu{
        display: block;
    }
}

#menu{
    display: none;
    position: absolute;
    width: 50px;
    height: 130px;
    background-color: #303030;
    top:-122px;
    left: -26px;

    box-sizing: border-box;
    padding-top: 6px;
    
    p{
        width: 30px;
        font-size:14px;
        font-family:PingFang SC;
        color:rgba(187,185,185,1);
        margin: 0 auto;
        margin-bottom: 6px;
        &:hover{
            color: #f0d1ce;
            cursor: pointer;
        }
       
    }
    
}

#pink_1{
    #V_12{
        width: 24px;
        height: 28px;
        position: absolute;
        top:19px;
        right:306px;
        cursor: pointer;
        
    }
}
#pink_2{
    width: 1055px;
    height: 71px;
    display: flex;
    justify-content: space-between;
    background-color: #f0d1ce;
    #V_13{
        width: 58px;
        display: inline-block;
        margin: 8px 14px 8px 53px;
    }
    #stra{
        font-size:20px;
        font-family:Adobe Heiti Std;
        font-weight:normal;
        display: inline-block;
        position: relative;
        bottom: 30px;
    }
    .V_four{
        width: 38px;
        height: 39px;
        vertical-align: middle;
        
    }
}
.content_under
{
    height: 225px;
    padding-top: 21px;
    .zan{
        width: 30px;
        height: 31px;
    }
    .unzan{
        width: 30px;
        height: 31px;
    }
}

#V_main{
    width: 1055px;
    height: 1590px;
    
    float: left;
}
#user_left{
    width: 95px;
    margin-left: 32px;
    #V_heart{
        margin-right: 12px;
        
        top: 4px;
    }
}

#content_user_right
{
    margin-right: 17px;
    
    h1{
    display: inline-block;
    width:56px;
    height:27px;
    font-size:28px;
    font-family:PingFang SC;
    font-weight:bold;
    color:rgba(47,47,47,1);
    }
    p{
        margin-top: 15px;
    }
}

#content_top{
    width: 1055px;
    height: 704px;
    background-color: #5b5b5b;
}

#content_top_under{
    width: 1055px;
    height: 61px;
    display: flex;
    justify-content: space-between;
    background-color: #303030;
    box-sizing: border-box;
    padding-right: 9px;
    padding-left: 9px;
    #row{
        width: 899px;
        height: 8px;
        margin-top: 26px;
        background-color: #b0b0b1;
        box-shadow:  -163px 0 0 #5b5b5b inset;
    }
    span{
        width:71px;
        height:12px;
        font-size:12px;
        font-family:PingFang SC;
        font-weight:bold;
        color:rgba(136,135,135,1);
        margin-top: 21px;
    }
}
#pink_1{
    height: 64px;
    width: 1055px;
    position: relative;
    background-color: #dfccd1;
    input{
        padding-right: 30px;
        padding-left: 8px;
        width: 709px;
        height: 29px;
        background-color: white;
        margin : {
            top: 19px;
            left: 16px;
        }
    }
}
#pink_2_right{
    width: 350px;
    display: flex;
    justify-content: space-between;
    margin-right: 41px;
}
.pink_pic{
    line-height: 71px;
    cursor: pointer;
    span{
       
        top:4px;
        width:29px;
        height:10px;
        font-size:12px;
        font-family:PingFang SC;
        font-weight:bold;
        color:rgba(247,246,246,1);
        margin-left: 8px;
    }
}

// // #ontent_under{
 

       
// }
.uesless{
    position: absolute;
    margin-left: 120px;
}

#content_under_left{
    img{
        margin-left: 13px;
    }
    span{
        font-size:24px;
        font-family:PingFang SC;
        font-weight:500;
        color:rgba(136,134,134,1);
    }
    .sleep{
        height: 60px;
        width: 72px;
        text-align: center;
        margin-left: 27px;
        display: inline-block;
    }
}

#content_under_right{
    margin-left: 122px;
    span{
        font-size:24px;
        font-family:PingFang SC;
        font-weight:400;
        color:rgba(136,134,134,1);
        position: relative;
        left: 9px;
        bottom:9px
    }
}

.unzan{
    margin-left: 49px;
}

#main_right{
    width: 1370px;
    height: 1590px;
     margin:0 auto;
    
    
}

#V_side{
    width:315px;
    float: right;
}

#side_top{
    height: 203px;
    width: 315px;
}

#side_unfold{
    height: 168px;
    background-color: #faf2f0;
    p{
        width:100px;
        height:24px;
        line-height: 24px;
        font-size:24px;
        font-family:Adobe Heiti Std;
        font-weight:normal;
        color:rgba(88,87,87,1);
        margin: 0 auto;
        padding-top: 18px;
    }
    div{
        width: 280px;
        height: 22px;
        margin: 24px auto;
        background-color: #b0b0b1;
    }
    span{
        float: right;
        margin-right: 10px;
        line-height: 21px;
    }
    img{
        margin-left: 4px;
    }
}
#side_white{
    height: 35px;
    font-size:20px;
    font-family:Adobe Heiti Std;
    font-weight:normal;
    color:rgba(88,87,87,1);
    line-height: 35px;
    text-align: center;
}
#V_sidelist{
    height: 720px;
    width: 274px;
    margin-left: 19px;
}
.square{
    width: 294px;
    height: 119px;
    margin-top: 12px;
    padding-bottom: 20px;
    padding-top: 22px;
    box-sizing: border-box;
    cursor: pointer;
    p{
        font-size:16px;
    font-family:Adobe Heiti Std;
    font-weight:normal;
    color:rgba(33,33,33,1);
    margin-left: 22px;
    float: left;
    
    }
}
.things{
    width: 140px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 11px;
    margin-top: 11px;
    float: left;
    img{
        margin-right: 4px;
    }
}
.thing{
    width: 60px;
    height: 20px;
    font-size: 14px;
}
.clear{
    margin-bottom: 10px;
}

.litlr{
    width: 105px;
}
.thing_pic{
    float: right;
    position: relative;
    margin-right: 11px;
    top:-21px;
    img{
        width: 121px;
        height: 77px;
    }

}
#more{
    width: 240px;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    margin-left: 28px;
    img{
        margin-left: 25px;
    }
    span{
        font-size:18px;
        font-family:Adobe Heiti Std;
        font-weight:normal;
        color:rgba(132,132,132,1);
        position: relative;
        top:-6px;
            }
}


#change{
    width: 27px;
    height: 27px;
}

#lot{
    width: 16px;
    height: 27px;
}

.litlr{
    width: 80px;
    cursor: pointer;
 }

 .litlrr{
     width: 106px;
     cursor: pointer;
 }

 #back{
     width: 76px;
     height: 76px;
     position: fixed;
     top:50%;
     left: 0;
     background-color: #eeeef4;
     cursor: pointer;
     div{
         width: 49px;
         height: 49px;
         font-size:20px;
        font-family:PingFang SC;
        font-weight:bold;
        color:rgba(128,127,127,1);
        line-height:26px;
        letter-spacing: 4px;
        margin: auto auto;
        padding-top: 12px;
        box-sizing: border-box;
     }
 }